@custom-media --mq-xs (min-width: 36em);
//768/16
@custom-media --mq-sm (min-width: 48em);
//992/16
@custom-media --mq-md (min-width: 62em);
//1200/16
@custom-media --mq-lg (min-width: 75em);

@custom-media --mq-xlg (min-width: 118em); // 1888/16

@custom-media --maxq-sm (max-width: 47.93em);

$text-transform-uppercase: uppercase;
$text-transform-capitalize: capitalize;
$button-inner-spacing: 10px 21px;
$device-size: '', xs, sm, md, lg;
$grid-columns: 12;
$grid-columns-xs: 4;
$container-lg: 1176px;
$gutter-lg: 10px;
$container-md: 960px;
$gutter-md: 8px;
$container-sm: 736px;
$gutter-sm: 8px;
$container-xs: 540px;
$gutter-xs: 8px;
