$vars: (
  theme-bg-color: '#F5D5D6',
  theme-color-transparent: 'transparent',
  theme-primary-color: #fff,
  theme-link-color: #0d6efd,
  theme-link-hover-color: #0a58ca,
  theme-primary-font-color: '#213A7A',
  theme-primary-font-family: 'Helvetica Neue, arial, sans-serif',
  theme-secondary-font-family: 'Arial, Helvetica, sans-serif',
  theme-primary-btn-bg-color: '#213A7A',
  theme-primary-btn-border-color: '#213A7A',
  theme-primary-btn-text-color: '#ffffff',
  theme-disabled-btn-text-color: '#FFFFFF',
  theme-secondary-btn-bg-color: '#ffffff',
  theme-secondary-btn-border-color: '#ffffff',
  theme-secondary-btn-text-color: '#213A7A',
  theme-disabled-btn-bg-color: '#CCCCCC',
  theme-error-msg-color: #842029,
  theme-success-msg-color: #0f5132,
  theme-info-msg-color: #055160,
  theme-warning-msg-color: #664d03,
  theme-error-msg-bg-color: #f8d7da,
  theme-success-msg-bg-color: #d1e7dd,
  theme-info-msg-bg-color: #cff4fc,
  theme-warning-msg-bg-color: #fff3cd,
  theme-error-msg-border-color: #f5c2c7,
  theme-success-msg-border-color: #badbcc,
  theme-info-msg-border-color: #b6effb,
  theme-warning-msg-border-color: #ffecb5,
  theme-traffic-light-error-color: #e91b2d,
  theme-traffic-light-success-color: #1fcc7b,
  theme-traffic-light-warning-color: #ddbb55,
  theme-bubble-chart-outer-bg-color: #f3e9e2,
  theme-bubble-chart-inner-bg-color: #d7c6e6,
  theme-bubble-chart-text-color: #2b2b2b,
  f-text-color-white: '#ffffff',
  f-weight-light: 300,
  f-weight-regular: 400,
  f-weight-medium: 500,
  f-weight-semibold: 600,
  f-weight-bold: 700,
  breakpoint-0: 576px,
  breakpoint-1: 768px,
  breakpoint-2: 992px,
  breakpoint-3: 1200px,
  c-gray-10: '#e4e4e4',
  c-gray-20: #c8c8c8,
  c-gray-30: #aeaeae,
  c-gray-60: ' #6d6d6d',
  c-gray-70: ' #6A6F71',
  c-bg-color-light: '#FEFEFE',
  c-bg-color-light-gray: '#EFEFEF',
  c-bg-color-blue: '#213A7A',
  c-bg-color-dark: '#CCCCCC',
  c-border-color-dark: '#CCCCCC',
  c-brown-10: '#80392D',
  c-color-white: '#FFFFFF',
  c-color-red: '#dc3545',
  app-bg-color: '#fff',
  app-bg-dual-color: 'linear-gradient(white 54%, #213a7a 46%)',
  theme-progressbar-bg: #f3e9e2,
  theme-progresbar-compare-color: #af9ecd,
  theme-progresbar-compare-light-color: #d7c6e6,
);

:root {
  @each $properties, $value in $vars {
    --aiba-#{$properties}: #{$value};
  }
}
