$fonts: (
  default: (
    font: 26px,
    lh: 32px,
  ),
  h1-xs: (
    font: 28px,
    lh: 1.35,
  ),
  h1-md: (
    font: 36px,
    lh: 1.16,
  ),
  h2-xs: (
    font: 21px,
    lh: 1.19,
  ),
  h2-md: (
    font: 22px,
    lh: 1.27,
  ),
  h3-xs: (
    font: 18px,
    lh: 1.17,
  ),
  h3-md: (
    font: 20px,
    lh: 1.33,
  ),
  h4-xs: (
    font: 20px,
    lh: 1.5,
  ),
  cta-primary-xs: (
    font: 14px,
    lh: 1.172,
  ),
  text-ms: (
    font: 14px,
    lh: 1.64,
  ),
  text-sm: (
    font: 12px,
    lh: 1.5,
  ),
  link-xs: (
    font: 12px,
    lh: 1.16,
  ),
  label-xs: (
    font: 12px,
    lh: 1,
  ),
  label-sm: (
    font: 16px,
    lh: 1.2,
  ),
  title-xs: (
    font: 14px,
    lh: 1,
  ),
  title-sm: (
    font: 30px,
    lh: 1.2,
  ),
  title-md: (
    font: 34px,
    lh: 1.058,
  ),
  title-lg: (
    font: 24px,
    lh: 1.416,
  ),
  quiz-label: (
    font: 18px,
    lh: 1.11,
  ),
  nav-md: (
    font: 16px,
    lh: 20px,
  ),
  story-title-md: (
    font: 18px,
    lh: 1.33,
  ),
  product-link-md: (
    font: 16px,
    lh: 1,
  ),
  exfoliation-regime-md: (
    font: 32px,
    lh: 1.68,
  ),
  text-compare-md: (
    font: 11px,
    lh: 18px,
  ),
  text-progress-count-md: (
    font: 30px,
    lh: 40px,
  ),
  text-progress-compare-count-md: (
    font: 12px,
    lh: 18px,
  ),
);
