// hidden utility class
@each $size in $device-size {
  @if $size == '' {
    .hidden {
      display: none !important; /* stylelint-disable-line declaration-no-important */
    }
  } @else {
    @media (--mq-#{$size}) {
      .hidden-#{$size} {
        display: none !important; /* stylelint-disable-line declaration-no-important */
      }
    }
  }
}

// visible utility class
@each $size in $device-size {
  @if $size == '' {
    .visible {
      display: block !important; /* stylelint-disable-line declaration-no-important */
    }
  } @else {
    @media (--mq-#{$size}) {
      .visible-#{$size} {
        display: block !important; /* stylelint-disable-line declaration-no-important */
      }
    }
  }
}

.notification-msg {
  display: block;
  font-size: 0.75rem;
  margin: 0 0 1rem 0;
  padding: 5px;
  border-radius: 5px;
  &.error {
    color: var(--aiba-theme-error-msg-color);
    background-color: var(--aiba-theme-error-msg-bg-color);
    border: 1px solid var(--aiba-theme-error-msg-border-color);
  }
  &.warning {
    color: var(--aiba-theme-warning-msg-color);
    background-color: var(--aiba-theme-warning-msg-bg-color);
    border: 1px solid var(--aiba-theme-warning-msg-border-color);
  }
  &.info {
    color: var(--aiba-theme-info-msg-color);
    background-color: var(--aiba-theme-info-msg-bg-color);
    border: 1px solid var(--aiba-theme-info-msg-border-color);
  }
  &.success {
    color: var(--aiba-theme-success-msg-color);
    background-color: var(--aiba-theme-success-msg-bg-color);
    border: 1px solid var(--aiba-theme-success-msg-border-color);
  }
}

